@font-face {
  font-family: Poppins-Medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
}

::selection {
  background: #32a58c;
}

:root {
  --fs-1000: 5rem;
  --fs-900: 3rem;
  --fs-800: 2rem;
  --fs-700: 1.4rem;
  --fs-600: 1.2rem;
  --fs-500: 1rem;

  --green: #07cc03;
  --red: #df021c;
  --yellow: #f1d101;

  --white: #eeeeee;
  --black: #3a3a3a;
}

.dark {
  --text-color: #eeeeee;
  --text-color-alternate: #171c24;
  --background1: #222831;
  --background2: #393e46;
  --background3: #414857;
  --background4: #4e505e;
}

.light {
  --text-color: #202020;
  --text-color-alternate: #ffffff;
  --background1: #f0f0f0;
  --background2: #e6e6e6;
  --background3: #d8d8d8;
  --background4: #cacaca;
}

html.dark input {
  color-scheme: dark;
}

html.light input {
  color-scheme: light;
}

.darkmode-checkbox {
  appearance: none;
  -webkit-appearance: none;
  place-content: center;
  display: grid;
  place-content: center;
}

.darkmode-checkbox::before {
  content: url(images/sun.svg);
  height: 2.5rem;
  width: 2.5rem;
}

.darkmode-checkbox:checked::before {
  content: url(images/moon.svg);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--priority-color, --background1);
  border-radius: 5px;
  height: 0.5rem;
  width: 100%;
  transition: background-color 0.3s ease-in;
}

input[type='range']::-moz-range-track {
  background: var(--priority-color, --background1);
  border-radius: 5px;
  height: 0.5rem;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  margin-top: -6px;
  background-color: var(--text-color);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 100px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--text-color-alternate) inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

h1,
h2,
p,
span,
header,
label {
  color: var(--text-color);
}

body {
  position: relative;
  background-color: var(--background1);
  display: grid;
  height: 100vh;
  grid-template-areas:
    'header header'
    'sidebar display';
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 1fr;
  font-family: 'Poppins-Medium';
}

body.menu-active {
  overflow: hidden;
}

.header {
  grid-area: header;
  border-bottom: 3px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header h1 {
  font-size: var(--fs-800);
}

.sidebar {
  background-color: var(--text-color-alternate);
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 100px;
  grid-auto-rows: 50px;
  gap: 0.7rem;
  padding: 1rem 0.5rem;
}

.sidebar.active-mobile {
  display: grid;
  position: fixed;
  height: 100%;
  width: 70%;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
}

.sidebar button {
  border-radius: 5px;
  border: none;
  background-color: var(--background3);
  color: var(--text-color);
}

.sidebar :first-child {
  font-size: var(--fs-700);
  background-color: var(--background4);
  font-weight: 600;
}

.sidebar :first-child::before {
  content: '+ ';
}

.display {
  grid-area: display;
}

.menu-toggle {
  height: 3rem;
  width: 3rem;
  border: none;
  display: none;
  background-color: var(--text-color);
  -webkit-mask-image: url(./images/hamburger-menu.svg);
  mask-image: url(./images/hamburger-menu.svg);
}

.remove-project-button,
.add-todo-button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--background1);
}

.add-todo-button {
  background-color: var(--green);
}

.add-todo-button:hover {
  -webkit-box-shadow: 0px 0px 24px -5px var(--green);
  -moz-box-shadow: 0px 0px 24px -5px var(--green);
  box-shadow: 0px 0px 24px -5px var(--green);
}

.remove-project-button {
  background-color: var(--red);
}

.remove-project-button:hover {
  -webkit-box-shadow: 0px 0px 24px -5px var(--red);
  -moz-box-shadow: 0px 0px 24px -5px var(--red);
  box-shadow: 0px 0px 24px -5px var(--red);
}

.project-header {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 0.5rem clamp(0rem, 1vw, 4rem);
}

.project-name {
  display: none;
}

.project-name.active {
  display: block;
}

.sort-form {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  align-items: center;
}

.sort-form label {
  padding-right: 0.5em;
  display: none;
}

.sort-form label.active {
  display: block;
}

.sort-type,
.sort-order {
  height: 1.7rem;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 3px;
}

.sort-type:focus {
  outline: none;
}

.sort-type {
  border-right: none;
}

.sort-order {
  width: auto;
  appearance: none;
  place-content: center;
  display: grid;
  place-content: center;
}

.sort-order::before {
  content: url(images/arrow-up.svg);
  height: 1.7em;
  width: 1.7em;
}

.sort-order:checked::before {
  content: url(images/arrow-down.svg);
}

.todos-container {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 260px;
}

.todo {
  word-break: break-word;
  padding: 1rem;
  background-color: var(--background2);
  border-bottom: 7px solid;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 2fr max-content;
  grid-template-rows: max-content 1fr 2rem;
  align-items: center;
}

.todo-description {
  align-self: baseline;
  grid-column: 1 / 3;
}

.todo-due-date {
  padding-left: 0.5rem;
  align-self: start;
  justify-self: end;
}

.todo button {
  width: 2rem;
  height: 2rem;
  justify-self: end;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
}

.todo button:hover {
  transition: all 0.3s;
  background-color: var(--green);
  -webkit-box-shadow: 0px 0px 24px -5px var(--green);
  -moz-box-shadow: 0px 0px 24px -5px var(--green);
  box-shadow: 0px 0px 24px -5px var(--green);
}

.todo h2 {
  font-size: var(--fs-700);
  padding: 0;
  margin: 0;
}

.todo.low,
.todo-view.low {
  border-color: var(--green);
}

.todo.medium,
.todo-view.medium {
  border-color: var(--yellow);
}

.todo.high,
.todo-view.high {
  border-color: var(--red);
}

.popup-window {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.popup-window.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

.popup-window > * {
  border-radius: 15px;
  background-color: var(--text-color-alternate);
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
  transition: backround-color 1s ease-in-out;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window input[type='text'],
.popup-window input[type='date'],
.popup-window textarea {
  background-color: var(--text-color-alternate);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  width: 100%;
}

.popup-window input[type='text'],
.popup-window input[type='date'] {
  padding: 0.5rem;
  height: 3.5rem;
}

.popup-window textarea {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  height: 100%;
}

.popup-window input:focus,
.popup-window textarea:focus {
  outline: none;
}

.popup-window input[type='text'] + label,
.popup-window input[type='date'] + label,
.popup-window textarea + label {
  background-color: var(--text-color-alternate);
  position: absolute;
  padding: 0 0.3rem;
}

.popup-window input[type='text'] + label,
.popup-window input[type='date'] + label {
  top: -7px;
  left: 1rem;
  padding: 0 0.3rem;
}

.popup-window textarea + label {
  top: -4%;
  left: 1rem;
}

.popup-window li {
  position: relative;
}

.popup-window button {
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
}

.popup-window button[type='submit'] {
  background-color: var(--green);
}

.popup-window button[type='submit']:hover {
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 24px -5px var(--green);
  -moz-box-shadow: 0px 0px 24px -5px var(--green);
  box-shadow: 0px 0px 24px -5px var(--green);
}

.add-project-form {
  display: flex;
}

.add-project-form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fs-500);
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--fs-900);
}

.add-todo-form ul {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, max-content) 20vh;
}

.add-todo-form-priority {
  width: 100%;
}

.add-todo-form-priority.low {
  --priority-color: var(--green);
}

.add-todo-form-priority.medium {
  --priority-color: var(--yellow);
}

.add-todo-form-priority.high {
  --priority-color: var(--red);
}

.todo-view {
  word-break: break-word;
  height: 60vh;
  width: 30rem;
  border-bottom: solid 15px var(--green);
}

.todo-view-delete {
  background-color: var(--green);
}

.todo-view ul {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, max-content) 1fr;
}

.todo-view p,
.todo-view h2 {
  margin: 0;
  padding: 0;
}

.exit-button {
  background-color: var(--red);
}

.exit-button:hover {
  -webkit-box-shadow: 0px 0px 24px -5px var(--red);
  -moz-box-shadow: 0px 0px 24px -5px var(--red);
  box-shadow: 0px 0px 24px -5px var(--red);
}

.text-red-bold {
  color: var(--red);
  font-weight: 600;
}

.sidebar-mobile-background {
  display: none;
  position: fixed;
  height: 100svh;
  width: 100svw;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-mobile-background.active {
  display: block;
}

@media only screen and (max-width: 760px) {
  body {
    grid-template-areas:
      'header header'
      'display display';
  }

  .sidebar {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .project-header {
    grid-auto-columns: max-content;
    gap: 0px;
  }

  .display-buttons {
    border-radius: 100px;
    min-width: 50px;
  }
}
