@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

:root {
    --fs-1000: 5rem;
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.2rem;
    --fs-500: 1rem;

    --black: #171c24;
    --dark-gray: #222831;
    --gray: #393E46;
    --light-gray: #414857;
    --light-blue: #4e505e;
    --orange: #D65A31;
    --white: #EEEEEE;
    --green: #07cc03;
    --red: #df021c;
    --yellow: #f1d101;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--priority-color, --dark-gray);
    border-radius: 5px;
    height: 0.5rem;
    width: 100%
}

input[type="range"]::-moz-range-track {
    background: var(--priority-color, --dark-gray);
    border-radius: 5px;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    margin-top: -6px;
    background-color: var(--white);

    height: 1.3rem;
    width: 1.3rem;
    border-radius: 100px;
}

input {
    color-scheme: dark;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white);
    color: var(--white);
    -webkit-box-shadow: 0 0 0px 1000px var(--black)inset;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    resize: none;
}

h1, h2, p, span, header, label {
    color: var(--white)
}

body {
    position: relative;
    background-color: var(--dark-gray);
    display: grid;
    height: 100vh;
    grid-template-areas:  
    "header header"
    "sidebar display";
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 10vh 1fr;
    font-family: 'Poppins-Medium'
}

.header {
    grid-area: header;
    border-bottom: 4px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header h1 {
    font-size: var(--fs-800);
}

.sidebar {
    background-color: var(--black);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 50px;
    gap: 0.7rem;
    padding: 1rem 0.5rem;
}

.sidebar button {
    border-radius: 5px;
    border: none;
    background-color: var(--light-gray);
    color: var(--white);
}

.sidebar :first-child {
    font-size: var(--fs-700);
    background-color: var(--light-blue);
    font-weight: 600;
}

.sidebar :first-child::before {
    content: "+ ";
}

.display {
    grid-area: display;
}

.remove-project-button, .add-todo-button {
    border: none;
    padding: 1rem; 
    border-radius: 5px;
    font-weight: 600;
    color: var(--white);
    border: 4px solid;  
    background-color: var(--dark-gray);
    transition: background-color 0.2s;
}

.add-todo-button {
    border-color: var(--green);
}

.add-todo-button:hover {
    background-color: var(--green);
}

.remove-project-button {
    border-color: var(--red);
}

.remove-project-button:hover {
    background-color: var(--red);
}

.project-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.sort-form {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
}

.sort-form label {
    padding-right: 0.5em;
}

.sort-order {
    height: 1.8em;
    width: 1.8em;
    appearance: none;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 3px;
    place-content: center;
    display: grid;
    place-content: center;
}

.sort-order::before {
    content: url(images/arrow-up.svg);
    height: 1.8em;
    width: 1.8em;
}

.sort-order:checked::before {
    content: url(images/arrow-down.svg);
}

.todos-container {
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 250px;
}

.todo {
    word-break: break-all;
    padding: 1rem;
    background-color: var(--gray);
    border-bottom: 7px solid;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content 1fr 2rem;
    align-items: center;
}

.todo-description {
    align-self: baseline;
    grid-column: 1 / 3;
}

.todo-due-date {
    align-self: start;
    justify-self: end;
}

.todo button {
    width: 2rem;
    height: 2rem;
    justify-self: end;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 700;
}

.todo button:hover {
    transition: all 0.3s;
    background-color: var(--green);
    -webkit-box-shadow: 0px 0px 24px -5px var(--green);
    -moz-box-shadow: 0px 0px 24px -5px var(--green);
    box-shadow: 0px 0px 24px -5px var(--green);
}

.todo h2 {
    padding: 0;
    margin: 0;
}

.todo.low {
    border-color: var(--green)
}

.todo.medium {
    border-color: var(--yellow);
}

.todo.high {
    border-color: var(--red);
}

.popup-window {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.popup-window.active {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);

}

.popup-window > * {
    border-radius: 15px;
    background-color: var(--black);
    padding: 3rem;
    -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 1);
    transition: backround-color 1s ease-in-out;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window input[type="text"],
.popup-window input[type="date"],
.popup-window textarea {
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
}

.popup-window input:focus,
.popup-window textarea:focus {
    outline: none;
}

.popup-window input[type="text"],
.popup-window input[type="date"],
.popup-window textarea {
    padding: 0.5rem;
    width: 20rem;
}

.popup-window input[type="text"],
.popup-window input[type="date"] {
    height: 2rem;
}

.popup-window input[type="text"] + label,
.popup-window input[type="date"] + label,
.popup-window textarea + label {
    background-color: var(--black);
    position: absolute;
    padding: 0 0.3rem;
}

.popup-window input[type="text"] + label,
.popup-window input[type="date"] + label {
    top: -7px;
    left: 1rem;
    padding: 0 0.3rem;
}

.popup-window textarea + label {
    top: -4%;
    left: 1rem;
}

.popup-window ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-window li {
    position: relative;
}

.popup-window button {
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
}

.popup-window button[type="submit"] {
    background-color: var(--green);
    color: var(--white);
}

.popup-window button[type="submit"]:hover {
    transition: all 0.2s;
    -webkit-box-shadow: 0px 0px 24px -5px var(--green);
    -moz-box-shadow: 0px 0px 24px -5px var(--green);
    box-shadow: 0px 0px 24px -5px var(--green);
}


.add-project-form {
    display: flex;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-500);
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--fs-900)
}

.add-todo-form-priority{
    width: 100%;
}

.add-todo-form-priority.low {
    --priority-color: var(--green);
}

.add-todo-form-priority.medium {
    --priority-color: var(--yellow);
}

.add-todo-form-priority.high {
    --priority-color: var(--red);
}

.todo-view {
    width: 50vw;
    word-break: break-all;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  min-content;
    justify-content: center;
}

.exit-button {
    color: var(--white);
    background-color: var(--red);
}

.exit-button:hover {
    -webkit-box-shadow: 0px 0px 24px -5px var(--red);
    -moz-box-shadow: 0px 0px 24px -5px var(--red);
    box-shadow: 0px 0px 24px -5px var(--red);
}
